* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

element.style {
}
div#kakusuu-zen {
}
#kakusuu-zen, .kakusuuji-zen {
    font-size: 22px;
    margin: 20px auto 30px auto;
}
user agent stylesheet
div {
    display: block;
}
Style Attribute {
    pointer-events: auto;
}
body {
    font: 14px/1.6 "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
    margin: 0;
    color: #555555;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }


@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  
